<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rufus.mathree">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signin.CustomerSignIn" />
        <activity android:name=".signin.ConductorSignIn" />
        <activity android:name=".signup.CustomerRegistration" />
        <activity android:name=".signup.ConductorRegistration" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".drawer.MathreeCustomerActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".drawer.MathreeConductorActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>